@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
	
}


ul{
	margin:0;
	margin-bottom: 50px;
	padding:0;
	list-style:none;
	display:inline-block;
	
}

ul li{
	
	float:left;
}


.menuDesplegable{
	
	height:40px;
	width:100%;
	background:#3b3b3b;
}

.menuDesplegable li{
	height:40px;

}

.menuDesplegable li a{
	
	color:rgb(14, 146, 223);
	padding:8px;
	height:24px;
	display:block;
	text-decoration:none;
	font-size:18px;
	
	}

.menuDesplegable li a:hover{
	background:rgba(221, 72, 14, 0.616);
	height: 25px;
	
}

.menuDesplegable li ul{
	display:none;
}

.menuDesplegable li:hover ul{
	display:block;
	position:absolute;
	background:#3B3B3B;
	
}

.menuDesplegable li:hover ul li{
	float:none;
	position:relative;
}

.menuDesplegable li:hover ul li ul{
display: none ;
}

.menuDesplegable li ul li:hover ul{
display: block;
left:100%;
top:0;
}
.menuDesplegable li:hover ul li:hover ul li ul{
display: none;
}

.menuDesplegable li:hover ul li:hover ul li:hover ul{
display: block;
position:absolute;

}


.cabecera{
	height:100px;
	width:100%;
	background:rgb(134, 193, 233)

}

